@import './_global.scss';
@import './Pages/Landing/Landing.scss';
@import './Pages/Home/Home.scss';
@import './Components/Sidebar/Sidebar.scss';

* {
    margin: 0;
    font-family: sans-serif;
    border: none;
}