body {
    background-color: $mid-navy;
}

.loading-image {
    //center the image on the page
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.new-post-button {
    color: $yellow;
    position: fixed;
    text-align: center;
    background-color: $dark-navy;
    border-radius: 5px;
    font-size: 40px;
    height: 45px;
    width: 50px;
    padding: 0;
    top: 0;
    right: -5px;
    background-color: $dark-navy;
    z-index: 1;
}

select {
    width: 100%;
    margin: 10px 0;
    top: 25px;
    height: 45px;
    border-radius: 5px;
    font-size: 15px;
    color: $yellow;
    background-color: $dark-navy;
}

@media (max-width: 768px) {
    select {
        z-index: 1;
        position: fixed;
        width: calc(100% - 115px);
        margin: 0 auto;
        top: 0;
    }
}