body {
    background-color: $mid-navy;
}

aside {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 15vw;

    button {
        color: $yellow;
        font-size: 25px;
        background-color: $dark-navy;
    }

    .menu-button {
        border-radius: 5px;
        font-size: 45px;
        height: 50px;
        width: 50px;
        padding: 0;
    }

    .menu-button:focus-within {
        background-color: $dark-navy;
        position: relative;
        left: calc(15vw);
    }

    .menu-button:focus-within .Sidebar {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: $dark-navy;

    }

    .Sidebar {
        display: none;
        height: 100vh;
        width: 15vw;
        position: relative;
        left: -15vw;
        top: -56px;
        font-size: 25px;

        hr {
            border: 1px solid $mid-navy;
            width: 80%;
            margin: 0 auto;
        }

        ul {
            list-style: none;
            margin-left: -140px;

            li>button {
                font-size: 20px;
                text-decoration: underline;
            }
        }

        .user-info {

            img {
                width: 120px;
                height: 120px;
                border-radius: 100%;
            }
        }
    }
}

.Posts {
    width: 50%;
    margin: 0 auto;

    .Post {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 50px 0;
        background-color: $navy;
        color: $yellow;

        img {
            aspect-ratio: 4/3;
        }

        .Post-info {
            height: 150px;
            display: grid;
            grid-template-rows: 3fr 1fr;
            text-align: center;

            p {
                padding: 20px;
            }

            .Post-stats {
                display: flex;
                padding: 5px;
                align-items: center;
                background-color: $dark-navy;

                .vl {
                    border-left: 2px solid $navy;
                    height: 25px;
                    margin: 0 10px;
                }

                h3 {
                    display: flex;
                    align-items: center;

                    button {
                        color: $yellow;
                        font-size: 25px;
                        background-color: transparent;
                    }
                }

                .Post-tags {
                    display: flex;
                    justify-content: center;
                    height: 65%;

                    .Tag {
                        background-color: $navy;
                        padding: 1px 15px;
                        border-radius: 5px;
                        margin: 0 3px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}