.Posts {
    position: relative;
    width: 60%;
    margin: 0 auto;

    .Post {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 50px;
        background-color: $navy;
        color: $yellow;

        .delete-button {
            position: absolute;
            color: $dark-navy;
            background-color: $yellow;
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            top: 0;
            right: 0;
            width: 50px;
            height: 50px;
            border-radius: 10px 0 0 10px;
        }

        img {
            aspect-ratio: 4/3;
            object-fit: cover;
        }

        .Post-info {
            height: 150px;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p {
                padding: 20px;
                width: calc(100% - 40px);
            }

            .Post-stats {
                display: flex;
                align-items: center;
                background-color: $dark-navy;
                width: 100%;
                height: 35px;

                .vl {
                    border-left: 2px solid $navy;
                    height: 25px;
                    margin: 0 10px;
                }

                h3 {
                    color: $yellow;
                    display: flex;
                    align-items: center;

                    button {
                        color: $light-navy;
                        font-size: 25px;
                        background-color: transparent;
                    }
                }

                .likeCount {
                    color: $light-navy;
                }

                img {
                    width: 25px;
                    height: 25px;
                    margin: 0 5px;
                    border-radius: 100%;
                }

                .Post-tags {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    overflow-x: auto;
                    overflow-y: hidden;

                    .Tag {
                        display: flex;
                        align-items: center;
                        height: 18px;
                        background-color: $navy;
                        padding: 1px 15px;
                        border-radius: 5px;
                        margin: 0 3px;
                        font-size: 13px;
                    }
                }

                //post-tags scrollbar
                ::-webkit-scrollbar {
                    height: 6px;
                }

                ::-webkit-scrollbar-track {
                    background: $dark-navy;
                }

                ::-webkit-scrollbar-thumb {
                    background: $navy;
                }

                ::-webkit-scrollbar-thumb:hover {
                    background: $light-navy;
                }
            }
        }
    }
}

.delete-confirmation {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #242b3ee0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $yellow;
    font-size: 2rem;
    font-weight: bold;

    p {
        text-align: center;
    }

    .confirmation-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 50%;

        #confirmation-yes,
        #confirmation-no {
            cursor: pointer;
            opacity: 1;
            width: 50%;
            height: 50px;
            border-radius: 10px;
            background-color: $yellow;
            color: $dark-navy;
            font-size: 1.5rem;
            font-weight: bold;
            cursor: pointer;
            margin: 10px;
        }

        #confirmation-no {
            background-color: $light-navy;
        }
    }

}

@media (max-width: 768px) {
    .Posts {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 57px;
    }

    .delete-confirmation {
        .confirmation-buttons {
            width: 90%;
        }
    }
}