.Posts {
    width: 50%;
    margin: 0 auto;

    .Post {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 50px 0;
        background-color: $navy;
        color: $yellow;

        img {
            aspect-ratio: 4/3;
            object-fit: cover;
        }

        .Post-info {
            height: 150px;
            display: grid;
            grid-template-rows: 3fr 1fr;
            text-align: center;

            p {
                padding: 20px;
            }

            .Post-stats {
                display: flex;
                padding: 5px;
                align-items: center;
                background-color: $dark-navy;

                .vl {
                    border-left: 2px solid $navy;
                    height: 25px;
                    margin: 0 10px;
                }

                h3 {
                    color: $yellow;
                    display: flex;
                    align-items: center;

                    button {
                        color: $light-navy;
                        font-size: 25px;
                        background-color: transparent;
                    }
                }

                .likeCount {
                    color: $light-navy;
                }

                img {
                    width: 25px;
                    height: 25px;
                    margin: 0 5px;
                    border-radius: 100%;
                }

                .Post-tags {
                    display: flex;
                    justify-content: center;
                    height: 65%;

                    .Tag {
                        background-color: $navy;
                        padding: 1px 15px;
                        border-radius: 5px;
                        margin: 0 3px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}