@import url("https://use.typekit.net/xga7rtl.css");

// Colors
$light-yellow: #ffcc01;
$yellow: #e3b706;
$light-navy: #5a7084;
$mid-navy: #485969;
$navy: #44475b;
$dark-navy: #242b3e;

// Animations
@keyframes yellow-in {
    from {
        background-color: $yellow;
    }

    to {
        background-color: $light-yellow;
    }
}

@keyframes yellow-out {
    from {
        background-color: $light-yellow;
    }

    to {
        background-color: $yellow;
    }
}

@keyframes yellow-text-in {
    from {
        color: $yellow;
    }

    to {
        color: $light-yellow;
    }
}

@keyframes yellow-text-out {
    from {
        color: $light-yellow;
    }

    to {
        color: $yellow;
    }
}

@keyframes navy-in {
    from {
        background-color: $dark-navy;
    }

    to {
        background-color: $navy;
    }
}

@keyframes navy-out {
    from {
        background-color: $navy;
    }

    to {
        background-color: $dark-navy;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}